.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #252a34;

}

h1 {
  margin: 50px;
  font-family: 'Dosis', sans-serif;

  font-size: 5rem;
  color: #08d9d6;
}
h4{
  font-size: 2.5rem;
  color: #08d9d6;
  font-family: "Niconne", cursive;
margin-top: 30px;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #eaeaea;
  font-family: 'Dosis', sans-serif;

}

img {
  width: 50%;
  padding-top: 20px;
}

footer {

  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
.dice{
  padding-top:50px;
  padding-bottom: 100px;
}

.footer{
  padding-top:100px;
  padding-left: 25px;
  padding-right:25px;
  padding-bottom:50px;
}
.icon{
    color: #ff2e63;
}

.footer-para{
  font-size: 1rem;
  color: #eaeaea;
  font-family: 'Dosis', sans-serif;
}
